<!DOCTYPE html>
<html>

{% include head.html %}

<body>


  <div id="wrapper">
    {% include header.html %}
    <div class="navbar navbaar-fixed-top">
      <div class="container-fluid">
        <button type="button" class="nav-toggle" id="menu-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-offset-xs-2">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include js.html %}

</body>
</html>
